
@import url('https://fonts.googleapis.com/css?family=Aclonica|Eczar');
@import url('https://fonts.googleapis.com/css?family=Alegreya|Slabo+27px');
*
{
	padding: 0;
	margin:0;
	border: 0;
}
body
{
	margin: 0 auto;
	background: rgb(67,155,214);
}
#wrapper
{
	width: 100%;	
}

/*Start Navigation Bar */
nav{

	background:rgb(15,42,61);
	width: 100%;
	height: 53px;
	border-bottom: 5px solid white;	
	display: inline-block;
	}


nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

nav li {
    float: left;
}

nav li a, .dropbtn {
    display: inline-block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-family: 'Slabo 27px', serif; 
    font-size: 20px;
    width: 120px;	
}

nav li a:hover, .dropdown:hover .dropbtn {
    background: rgb(67,155,214);
}

nav li.dropdown {
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
    min-width: 200px;
}

.dropdown-content a:hover {background-color: #f1f1f1}

.dropdown:hover .dropdown-content {
    display: block;
}
/* End of Navigation Bar*/

/* Paralax effect*/
#animation
{
	height:560px;
	width: 100%;
	position: fixed;
	background: linear-gradient(rgb(67,155,214), rgb(255,255,255)); 
	overflow: hidden;
	padding-top: 20px;
	
}
#sun
{    
	text-align: center;
	position: relative;  
    animation: spin 15s linear infinite;
    z-index: -4;
    opacity: .6;

}
@keyframes spin { 100% {transform:rotate(360deg); } }
#julia
{
	position: absolute;
    animation: mymove 2s;
    animation-fill-mode: forwards;
    left:25%;
}
@keyframes mymove {
    from {top: 600px;}
    to {top: 0px;}
}

#campName
{	color: rgb(47,131,200);
	text-align: center;
	font-family: 'Aclonica', sans-serif;
	font-size: 60px;
	text-shadow: 2px 2px #aaaaaa;
	z-index: 0;
	position: absolute;
	animation: txtmove 10s;
	animation-fill-mode: forwards;
}
@keyframes txtmove {
    from {top: 600px;}
    to {top: 440px;}
}
/*End of moving scene */



#activities
{	position: relative;
	top:580px;	
}
#box1{	

/*	color:#dd3b2a;*/
	background: url(images/soccer.jpg);
	background-size: cover;
	width: 100%;
	height: 325px;
}
#box2{	
	background: url(images/swimming.jpg);
	background-size: cover;
	width: 100%;
	height: 325px;

}

#box3{	

	background: url(images/trip.jpg);
	background-size: cover;
	width: 100%;
	height: 325px;


}
#note1{
	background: rgba(255,255,255,.7);
	width: 50%;
	height: 245px;
	float: right;
	padding:40px;	
	overflow: hidden;
}
#note2{
	background: rgba(255,255,255,.7);
	width: 50%;
	height: 245px;
	padding:40px;
	float: left;
	overflow: hidden;
}
#note3{
	background: rgba(255,255,255,.7);
	width: 50%;
	height: 245px;
	float: right;
	padding:40px;
	overflow: hidden;	
}

.box h1
{
	color: rgb(15,42,61);
	padding: 10px;
	font-family: 'Slabo 27px', serif;

}
.box p
{
	font-family: 'Alegreya', serif;
	line-height: 30px;
	font-size: larger;
}
footer
{
	position: relative;
	/*top: 980px;*/

}
#line{
	background:rgb(15,42,61) ;
	height: 40px;
	border-bottom: 5px solid rgb(67,155,214);
}
#info{
	border-top: 5px solid white;
	background: rgb(67,155,214);
	height: 350px;	
	display: flex;

}
#footer1{
	flex: 1;

}
#footer2{
	flex: 1;
	padding: 30px;
	font-family: 'Alegreya', serif;
	line-height: 30px;
	font-size: larger;
}
#footer3{
	flex: 2;
	 align-self: flex-end;
}
.pageTitle
{
	margin-top: 20px;
	font-size: 30px;
	height: 75px;
	display: relative;
	background: rgb(15,42,61);
	color: white;
	padding: 30px;
	font-family: 'Alegreya', serif;
	font-weight: bold;
}
.article
{
	height: 300px;
	padding: 20px;
	background: rgba(255,255,255,.7);
	overflow: hidden;
}
.article img
{
float: left;
flex: 1
}
.article h3
{
	font-family: 'Slabo 27px', serif;
	font-weight: bold;
	font-size: 25px;
	padding: 20px;
}
.article p
{
	font-family: 'Alegreya', serif;
	font-weight: bold;
	font-size: 20px;
	/*margin-left: 400px;*/
	flex: 4;
}
.part
{
	height: 300px;
	padding: 20px;
	background: rgba(255,255,255,.7);
	overflow: hidden;	
	margin: 20px;
}

#part1 , #part2 , #part3{
display: flex;
}

#part1 #side1-1 , #part1 #side1-2 , #part2 #side2-1 , #part3 #side3-2{
padding: 20px;
}
.part p
{
	font-family: 'Alegreya', serif;
	font-weight: bold;
	font-size: 19px;	
}

.part h3
{
	font-family: 'Slabo 27px', serif;
	
	font-weight: bold;
	font-size: 25px;	
}

#part1 table tr td , #part2 table tr td
{
	font-family: 'Alegreya', serif;
	padding: 3px;
	text-align: left;
}
#part1 table , #part2 table
{
	margin-left: 50px;
	margin-top: 5px;
}
#part1 th , #part2 th
{
	font-family: 'Slabo 27px', serif;
	padding: 3px;
	text-align: center;
	border-radius: 25px;
	background:rgb(15,42,61);
	color: white;
}
.prices table , .prices td , .prices tr
{
			color: rgb(183,177,91);
			font-size: 25px;
			border: 3px rgb(204,46,54) solid;
			text-align:center;
			background: rgb(255,238,211);
			margin-right: 35px;
}
form ,input
{
	font-family: 'Alegreya', serif;
	padding: 10px;
	font-size: 20px;
	margin: 3px;
}

.longAns{
	height: 300px;
	overflow: scroll;
	width: 100%;
}
