/*importing the fonts from google font*/
@import url('https://fonts.googleapis.com/css?family=Aclonica|Eczar');
@import url('https://fonts.googleapis.com/css?family=Alegreya|Slabo+27px');
@import url('https://fonts.googleapis.com/css?family=Nova+Oval');

/*reseting the default values of padding , margin and border */
*
{
	padding: 0;
	margin:0;
	border: 0;
}
/* centering the page body*/
body{
	margin: 0 auto;
	background: rgb(67,155,214);
}
/* the page wrapper that takes the full page width*/
#wrapper{
	width: 100%;	
}
/*Start Navigation Bar */
/*  The width of the navigation bar is the page width*/
nav{
	background:rgb(15,42,61);
	width: 100%;
	height: 53px;
	border-bottom: 5px solid white;	
}

/* remove the bullets from the list item*/
nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

/* align the items in the navigation to left*/
nav li {
    float: left;
}
/* styling the menu tabs , align the list item side by side , all tabs are equal width , the text is centered inside the tab*/
nav li a, .dropbtn {
    display: inline-block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-family: 'Slabo 27px', serif; 
    font-size: 20px;
    width: 120px;	
}

/* hover effect on tabs */
nav li a:hover, .dropdown:hover .dropbtn {
    background: rgb(67,155,214);
}

/* when no hovering hide the submenu*/
.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
    min-width: 200px;
}

.dropdown-content a:hover {
	background-color: #f1f1f1;
}
/* display the submenu when hover*/
.dropdown:hover .dropdown-content {
    display: block;
}
/* End of Navigation Bar*/

/* Paralax effect on animation scene */
#animation
{
	height:560px;
	width: 100%;
	position: fixed;
	background: linear-gradient(rgb(67,155,214), rgb(255,255,255)); 
	overflow: hidden;
	padding-top: 20px;
	
}
#sun
{    
	text-align: center;
	position: relative;  
    animation: spin 15s linear infinite;
    z-index: -4;
    opacity: .6;

}
/* rotating the sun*/
@keyframes spin { 100% {transform:rotate(360deg); } }

/* center the girl in the page */
#julia
{
	position: absolute;
    animation: mymove 2s;
    animation-fill-mode: forwards;
    left:25%;
}
/*let the girl rise*/
@keyframes mymove {
    from {top: 600px;}
    to {top: 0px;}
}
/* let the text come after the girl*/
#campName
{	color: rgb(47,131,200);
	text-align: center;
	font-family: 'Aclonica', sans-serif;
	font-size: 60px;
	text-shadow: 2px 2px #aaaaaa;
	z-index: 0;
	position: absolute;
	animation: txtmove 10s;
	animation-fill-mode: forwards;
}
/* move the text up*/
@keyframes txtmove {
    from {top: 600px;}
    to {top: 440px;}
}
/*End of moving scene */


/* styling the three boxes in Home page*/
#activities
{	position: relative;
	top:580px;	
}

/* styling the three boxes in my template*/
#box1{	
	background: url(images/soccer.jpg);
	background-size: cover;
	width: 100%;
	height: 325px;
}
#box2{	
	background: url(images/swimming.jpg);
	background-size: cover;
	width: 100%;
	height: 325px;

}
#box3{	
	background: url(images/trip.jpg);
	background-size: cover;
	width: 100%;
	height: 325px;
}
/* stylingright side*/
#note1{
	background: rgba(255,255,255,.7);
	width: 50%;
	height: 245px;
	float: right;
	padding:40px;	
	overflow: hidden;
}
/* styling the left side*/
#note2{
	background: rgba(255,255,255,.7);
	width: 50%;
	height: 245px;
	padding:40px;
	float: left;
	overflow: hidden;
}
#note3{
	background: rgba(255,255,255,.7);
	width: 50%;
	height: 245px;
	float: right;
	padding:40px;
	overflow: hidden;	
}
/* styling the text in h1 tag in  home page*/
.box h1
{
	color: rgb(15,42,61);
	padding: 10px;
	font-family: 'Slabo 27px', serif;
}
/* styling the text in p tag in  home page*/
.box p
{
	font-family: 'Alegreya', serif;
	line-height: 30px;
	font-size: larger;
}
footer
{
	position: relative;
}
/* styling the thick line inside the footer*/
#line{
	background:rgb(15,42,61) ;
	height: 40px;
	border-bottom: 5px solid rgb(67,155,214);
}
/* styling footer*/
#info{
	border-top: 5px solid white;
	background: rgb(67,155,214);
	height: 350px;	
	display: flex;

}
/* camp logo*/
#footer1{
	flex: 1;
}
/* styling the contact information part */
#footer2{
	flex: 1;
	padding: 30px;
	font-family: 'Alegreya', serif;
	line-height: 30px;
	font-size: larger;
}
/* styling the third part of facebook*/
#footer3{
	flex: 2;
	 align-self: center;
	 flex-direction: column;
}
/* styling the page title*/
.pageTitle
{
	margin-top: 20px;
	font-size: 30px;
	height: 75px;
	display: relative;
	background: rgb(15,42,61);
	color: white;
	padding: 30px;
	font-family: 'Alegreya', serif;
	font-weight: bold;
}
/* the white box styling on boxes */
.article
{
	height: 300px;
	padding: 20px;
	background: rgba(255,255,255,.7);
	overflow: hidden;
}
.article img
{
float: left;
flex: 1
}
/* styling the text h3 inside the box*/
.article h3
{
	font-family: 'Slabo 27px', serif;
	font-weight: bold;
	font-size: 25px;
	padding: 20px;
}
/* styling the text p inside the box*/
.article p
{
	font-family: 'Alegreya', serif;
	font-weight: bold;
	font-size: 20px;
	flex: 4;
}
/* the white space inside the box*/
.part
{
	height: 330px;
	padding: 20px;
	background: rgba(255,255,255,.7);
	overflow: hidden;	
	margin: 20px;
}

#part1 , #part2 , #part3{
display: flex;
}

#part1 #side1-1 , #part1 #side1-2 , #part2 #side2-1 , #part3 #side3-2{
padding: 20px;
}
.part p
{
	font-family: 'Alegreya', serif;
	font-weight: bold;
	font-size: 19px;	
}

.part h3
{
	font-family: 'Slabo 27px', serif;
	font-weight: bold;
	font-size: 25px;	
}
/* styling the acivities table*/
#part1 table tr td , #part2 table tr td
{
	font-family: 'Alegreya', serif;
	padding: 3px;
}
/*  positioning table */
#part1 table , #part2 table
{
	margin-left: 50px;
	margin-top: 5px;
}
/* styling the table heading*/
#part1 th , #part2 th
{
	font-family: 'Slabo 27px', serif;
	padding: 3px;
	text-align: center;
	border-radius: 25px;
	background:rgb(15,42,61);
	color: white;
}
/* styling the fees table*/
.prices table , .prices td , .prices tr
{
	color: rgb(183,177,91);
	font-size: 25px;
	border: 3px rgb(204,46,54) solid;
	text-align:center;
	background: rgb(255,238,211);
	margin-right: 35px;
}
/* styling the form*/
form ,input
{
	font-family: 'Alegreya', serif;
	padding: 10px;
	font-size: 20px;
	margin: 3px;
}
/* hiding the answers intially in FAQ*/
.answers
{
	display: none;
	background: rgba(255,255,255,.6);
}
/* styling the hyperlink*/
a{
	text-decoration: none;
	font-family: 'Nova Oval', cursive;
}
a:hover{
	font-size: larger;
}

/*===========Modal box=================*/
#btn{
		height: 80px;
		width: 400px;
		font-size: 25px;
		border-radius: 25px;
		background: rgb(15,42,61);
		color:white;
		font-family: 'Nova Oval', cursive;
		cursor: pointer;
		margin: 20px;
	}
	#modal
	{
		background: rgba(0,0,0,.6);
		height: 100%;
		width:100%;
		display:none;
		z-index: 20;
		position:fixed;
		padding: 50px;
		left:0;
		top:0;
	}
	#modal-content
	{
		height: 520px;
		width: 820px;
		background: rgb(15,42,61);
		position: relative;
		margin: auto;
		box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
		border: 1px solid #888;
		padding: 20px;
	}
	#close
	{	position: absolute;
		float:right;
		color:black;
		top:10px;
		right:10px;
		z-index: 30;
		border-radius: 25px;
		background: linear-gradient(rgb(15,42,61), rgb(255,255,255));
		height: 20px;
		width:20px;
		text-align: center;

	}
#close:hover
	{
		float:right;
		color:black;
		cursor: pointer;
		background: linear-gradient( rgb(255,255,255),rgb(15,42,61))
	}
	/*=======slide show===========*/
	.mySlides
	{
		height: 500px;
		width: 800px;
		display:none;
	}
	.previous, .next{
		color:#fff;
		background: rgb(67,155,214);
		text-align:center;
		cursor:pointer;
		font-size: 20px;
		width: 398px;
		font-family: 'Alegreya', serif;
	}